.gues-modal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 20px; 
}

.guest-modal-content {
    background-color: rgba(204, 204, 204, 0.8);
    padding: 50px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto; 
    max-height: 95vh;
    position: relative;
}

.add-guest-header {
    text-align: center;
    margin-bottom: 25px; 
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

.required-asterisk-header {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
}

.form-modal {
    width: 100%;
}

.wrap-modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.close2 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}

.form-modal {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

.form-group-modal label {
    font-size: 17px;
    margin-bottom: 4px;
}

.form-group-modal input {
    height: 35px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.add-guest-button {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    background-color: #0174BE;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 30px; 
}

.addguest-button:hover {
    background-color: #0056b3;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.required {
    color: red;
    margin-left: 2px;
}

.input-error {
    border: 2px solid red; 
    background-color: #ffe6e6; 
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
