.form-container {
    display: grid;                      
    justify-items: center; 
    align-content: start;                 
    font-family: sans-serif;            
    min-height: 100vh; 
    min-width: 100%;
    padding-top: 25px; /* move everything up */

}

.form-box-login {
    width: 500px;     
    max-height: 750px; 
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;  
    margin-top: 30px; /* move it upwards */
    margin-right: 10%; /* move the container to the left */
    padding: 27px;        
    display: grid;                      
    justify-items: center;       
    align-content: start; 
   
}

.form-container-login {
    width: 450px;
    max-height: 700px;
    display: grid;                      
    justify-items: center;           
    align-content: start;
    margin: 0;
    padding: 0 2vw; 
}

.header {
    width: 100%;
    display: grid;                      
    justify-items: center;           
    align-content: center;
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    width: 300px;   
    height: 150px; 
}

.logo img { 
    width: 150px;   
    height: auto;  
}



.header h1{
    margin-top: 7px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}


.field-box {
    margin-top: 0px;
    height: 85px;
    width: 100%;
    display: grid;                      
    justify-items: center;           
    align-content: center;
    margin: 10px 0; /* Adjust vertical margin */
    padding: 0;
}

.field-box label {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #757575;
    margin-bottom: 5px;
}

.field-box-password {
    width: 100%;
    display: grid;                      
    justify-items: center;           
    align-content: center;
    margin: 0;
    padding: 0;
}

.field-box-password label {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #757575;
    margin-bottom: 5px;
}

.insert{
    position: relative;
    width: 100%;
}

.insert input {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 45px 5px 20px; 
    border: 1px solid #ccc;
    outline: none;
}


.insert .icon {
    position: absolute;
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 20px;
    pointer-events: auto; 
    cursor: pointer;
}

.forgot-password-link{
    width: 100%;
    display: grid;                      
    justify-items: end;           
    align-content: start;
    margin-top: 15px; 
    margin: 0;
    padding: 0;
}

.forgot-password-link a{
    font-size: 14px;
    text-decoration: none;
    color: #0174BE;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.forgot-username-link{
    width: 100%;
    display: grid;                      
    justify-items: end;           
    align-content: start;
    margin-top: 15px; 
    margin: 0;
    padding: 0;
}

.forgot-username-link a{
    font-size: 14px;
    text-decoration: none;
    color: #0174BE;
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.login-button {
    margin-top: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47.55%;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    background: #0174BE;
    color: #fff;
    border: none;
    outline: none;
}


.login-button:hover {
    background-color: #005B96;
}

.noAcc{
    margin-top: 16px;
}

form .register-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #005B96;
}

.click{
    margin-left: 2px;
    text-decoration: none;
    color: #005B96;
}

.error-message {
    margin-top: 2px;
    color: red;
    font-size: 10px;
}


